*{
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #eef9bf;
}

header {
    font-size: 56px;
    font-weight: 700;
    color: #75b79e;
    text-align: center;
  
    padding: 50px 0;
}
  
.row {
    margin: 0 auto;
  
    display: flex;
    justify-content: space-around;
  
    margin-bottom: 30px;
}
  
.card {
    height: 146px;
    width: 117px;

    position: relative;
}

.face{
    height: 100%;
    width: 100%;

    border-radius: 5px;

    background-color: #a7e9af;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.face span{
    display: none;
}

.back-face img, 
.front-face img{
    width: 100px;
}

.front-face {
    transform: rotateY(180deg);
}

.turnFront {
    transform: rotateY(0deg);
}

.turnBack {
    transform: rotateY(-180deg);
}
  
.guessed{   
    pointer-events: none;
}