body {
    font-family: "Roboto", sans-serif;
    background-color: #eef9bf;
}

header {
    font-size: 56px;
    font-weight: 700;
    color: #75b79e;
    text-align: center;
  
    padding: 50px 0;
}
  
.row {
    margin: 0 auto;
  
    display: flex;
    justify-content: space-around;
  
    margin-bottom: 30px;
}
  
.card {
    height: 146px;
    width: 117px;
  
    border-radius: 5px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #a7e9af;
}
  
.back-face {
    height: 100px;
    width: 100px;
  
    /*background-image: url("../assets/front.png");
    background-size: cover;*/
}
  
.front-face {
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

}
  